@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SpaceGrotesk-Regular";
  src: url("/fonts/SpaceGrotesk-Regular.woff2");
}

@font-face {
  font-family: "RedHatDisplay-Regular";
  src: url("/fonts/RedHatDisplay-Regular.woff2");
}

@font-face {
  font-family: "RedHatDisplay-Black";
  src: url("/fonts/RedHatDisplay-Black.woff2");
}

@font-face {
  font-family: "RedHatDisplay-Medium";
  src: url("/fonts/RedHatDisplay-Medium.woff2");
}

@font-face {
  font-family: "RedHatDisplay-Bold";
  src: url("/fonts/RedHatDisplay-Bold.woff2");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  /* --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0; */
}

html,
body,
#root {
  @apply scroll-smooth w-full min-h-full overflow-x-hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "RedHatDisplay-Regular";
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}